<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	<Appenders>
		<RollingFile name="vertx_app_logs" append="true" fileName="/var/log/vertx_app.log" filePattern="/var/log/vertx/$${date:yyyy-MM}/vertx_app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{ISO8601} %-5p %c:%L - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<RollingFile name="vertx_sys_logs" append="true" fileName="/var/log/vertx_sys.log" filePattern="/var/log/vertx/$${date:yyyy-MM}/vertx_sys-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{ISO8601} %-5p %c:%L - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<Async name="vertx_app_async">
			<AppenderRef ref="vertx_app_logs"/>
		</Async>
		<Async name="vertx_sys_async">
			<AppenderRef ref="vertx_sys_logs"/>
		</Async>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} %-5p %c:%L - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="io.vertx.workshop" level="DEBUG" additivity="false">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="vertx_app_async" />
		</Logger>
		<Root level="DEBUG">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="vertx_sys_async" />
		</Root>
	</Loggers>
</Configuration>